<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Sollers Trading System - Admin Home</title>
</head>
<body>
<h1>Sollers Trading System</h1>
<h2>System Maintenance and Reporting</h2>
<button name="AddStocks" value="Add Stocks" onClick="location.href='add_stocks.html'">Add Stocks</button>
<button name="Reports" value="Reports" onClick="location.href='adminreports.html'">Reports</button>
<button name="Logout" value="Logout" onClick="location.href='LoginController'">Logout</button>
</body>
</html>