
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sollers Trading System - Close Position</title>
<link rel="stylesheet" type="text/css" th:href="@{table_style.css}" />
</head>

<body>
	<h1>Evaluated Positions</h1>
	<th:block th:switch="${positions}">
		<div th:case="null">
			<p>No positions to evaluate. Create a position by buying stocks.</p>
		</div>

		<div th:case="*">

			<div class="rTable">
				<div class="rTableRow">
					<div class="rTableHead">
						<strong>Symbol</strong>
					</div>
					<div class="rTableHead">
						<strong>Description</strong>
					</div>
					<div class="rTableHead">
						<strong>Side</strong>
					</div>
					<div class="rTableHead">
						<strong>Quantity</strong>
					</div>
					<div class="rTableHead">
						<strong>Trade Price</strong>
					</div>
					<div class="rTableHead">
						<strong>Current Price</strong>
					</div>
					<div class="rTableHead">
						<strong>Unrealized P&amp;L</strong>
					</div>
				</div>

				<th:block th:each="evaluatedPosition: ${positions}">
					<div class="rTableRow">
						<div class="rTableCell">
							<span th:text="${evaluatedPosition.symbol}"></span>
						</div>
						<div class="rTableCell">
							<span th:text="${evaluatedPosition.description}"></span>
						</div>
						<div class="rTableCell">
							<span th:text="${evaluatedPosition.side}"></span>
						</div>
						<div class="rTableCell">
							<span th:text="${evaluatedPosition.size}"></span>
						</div>
						<div class="rTableCell">
							<span th:text="${evaluatedPosition.price}"></span>
						</div>
						<div class="rTableCell">
							<span th:text="${evaluatedPosition.last}"></span>
						</div>
						<div class="rTableCell">
							<span th:text="${evaluatedPosition.unrealizedPL}"></span>
						</div>
					</div>
				</th:block>

			</div>
			<!-- End Table Div -->
		</div>
	</th:block>
	<br>
	<br>
	<ul class="navList">
		<li class="navItem"><a href="AccountHome">Home</a></li>
	</ul>

</body>
</html>